body {
    background-color: #121212;
    font-family: "Creepster", sans-serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #222222;
    justify-content: center;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FF5733;
    padding: 12px 22px;
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #FF3D00;
    color: #FFFFFF;
}

.one {
    background-color: #444444;
    height: 140px;
    width: 40%;
    color: #BADA55;
    font-size: 24px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.two {
    background-color: #333333;
    height: 100px;
    width: 40%;
    color: #FF6347;
    font-size: 22px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    background-color: #1e1e1e;
    height: 100px;
    width: 40%;
    color: #32CD32;
    font-size: 26px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#four {
    background-color: #000000;
    color: #00FF00;
    height: 100px;
    width: 40%;
    font-size: 28px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#five {
    background-color: #8B0000;
    color: #FFD700;
    height: 100px;
    width: 40%;
    font-size: 30px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}

.image-one img, .image-two img, .image-three img, .image-four img {
    height: 50vh;
    width: 400px;
}


.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.btn-chasing {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.btn-escape {
    animation: shake 0.1s infinite alternate;
    font-size: 18px;
    color: #FF0000;
}

@keyframes shake {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}
